@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: $wobiz-textbase;
    background-color: #fff;
}